---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Tatsuya Daniel" description="About Tatsuya Daniel">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				#tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/0022-November08,2022.jpg"
					alt="Tatsuya Daniel at a conference"
				/>
			</Hero>

			<section>
				<h2 class="section-title"></h2>
				<div class="content">
					<p>
						I am a PhD candidate at Brown University, where I am advised by Stephon Alexander. I obtained my 
						bachelor's degree from the Massachusetts Institute of Technology (MIT) in 2020. Broadly speaking, 
						I am interested in general relativity, modified theories of gravity, gravitational waves, early 
						universe cosmology, quantum gravity, and machine learning. Much of my current research revolves
						around probing corrections to general relativity using either gravitational waves or astrophysical
						objects such as neutron stars. I am also currently working on a project investigating a model of 
						spontaneous baryogenesis in the early universe.
					</p>
					<p>
						Outside of physics, I am a percussionist, world traveler and distance runner. I also have my own
						orchestra, which you can learn more about  <a href="https://tatsuyadanielorchestra.org">here</a>.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Brown University, Ph.D. in Physics (Sep 2020 - present)</p>
					<p>Massachusetts Institute of Technology, Bachelor of Science (Sep 2016 - May 2020)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Past Research</h2>
				<div class="content">
					<p>Microsoft</p>
					<p>Chapman University</p>
					<p>MIT Kavli Institute for Astrophysics and Space Research</p>
					<p>University of Tokyo, Institute for Physics of Intelligence</p>
					<p>University of Heidelberg, Center for Theoretical Astrophysics</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
